@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seasalt: #F9F9FAff;
  --paynes-gray: #5B657Aff;
  --delft-blue: #2C3A5Bff;
  --jet: #36353Bff;
  --raisin-black: #222631ff;
  --eerie-black: #070607;
}

* {
  @apply text-seasalt;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-satoshi;
}

.nav-list {
  @apply inline-block py-0 px-5 transition-colors;
}

.parent {
  @apply grid grid-cols-3 grid-rows-1 gap-0;
  }