@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seasalt: #F9F9FAff;
  --paynes-gray: #5B657Aff;
  --delft-blue: #2C3A5Bff;
  --jet: #36353Bff;
  --raisin-black: #222631ff;
  --eerie-black: #070607;
}

* {
  @apply text-seasalt;
}

body {
  @apply font-satoshi;
}

.nav-list {
  @apply inline-block py-0 px-5 hover:text-delft-blue transition-colors;
}